* {
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 120px;
}

.background {
    height: 100%;
    left: 50%;
    object-fit: cover;
    object-position: 25% 37px;
    position: absolute;
    transform: scale(115%) translate(-50%);
    width: 100%;
    z-index: -1;
}

.cabecalho {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.cabecalho .header-link {
    text-decoration: none;
    color: inherit;
    padding: 8px;
    border: 2px solid transparent;
}

.cabecalho .header-logo {
    width: 105px;
    height: 24px;
}

.span-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.cabecalho .navega {
    display: flex;
    align-items: center;
    padding-left: 12px;
    line-height: 24px;
    text-decoration: none;
}

.cabecalho .navega .itensnavega {
    display: flex;
    gap: 15px;
    padding: 8px;
    font-size: 16px;
    font-family: Lato, Corbel, ‘Lucida Grande’, ‘Lucida Sans Unicode’, ‘DejaVu Sans’, ‘Bitstream Vera Sans’, ‘Liberation Sans’, Verdana, ‘Verdana Ref’, sans-serif;
}

.shop, .trade, .finance, .more {
    text-decoration: none;
    color: inherit;
}

.cabecalho .navega2 {
    display: flex;
    width: 100%;
    justify-content: right;
}

.cabecalho .local {
    display: flex;
    gap: 5px;
    justify-self: right;
}

.cabecalho .local .local1 {
    display: flex;
    flex-direction: column;
}

.cabecalho .local .local2 {
    display: flex;
}

.cabecalho .local .local1 .textmini {
    font-size: 12px;
}

.local1, .lovebutton, .personbutton {
    margin-right: 20px;
}

.search{
    box-sizing: border-box;
}

.search .searchbar-form {
    background-color: transparent;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search .searchbar-form .searchbar-form-fieldset{
    border: 0;
    margin: 0;
    padding: 0;
    border: none;
}


.search .searchbar-container {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.search .searchbar-container .input-bar {
    border: 1px solid #dedfe0;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background-color: #f0f1f2;
    font-size: 16px;
    font-family: Lato,Corbel,‘Lucida Grande’,‘Lucida Sans Unicode’,‘DejaVu Sans’,‘Bitstream Vera Sans’,‘Liberation Sans’,Verdana,‘Verdana Ref’,sans-serif;
    order: 0;
    height: 48px;
    color: #053361;
    flex-grow: 1;
    min-width: 0;
    outline: none;
    padding: 0 0 0 16px;
    width: 100%;
}

.search .searchbar-button-container {
    display: flex;   
    height: 48px;
}

.search .searchbar-button-container .header-button-search {
    order: 2;
    padding-left: 8px;
    padding-right: 8px;
    fill: #053361;
    flex-shrink: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #dedfe0;
    border-left: none;
}

.title-section .title-container .title {
    font-size: 76px;
    letter-spacing: .3px;
    line-height: 76px;
    max-width: 600px;
    padding: 0;
    color: #fff;
    margin: 0 0 6px;
    font-family: CarMaxSharpSansDisp-Bold, Frutiger, "‘Frutiger Linotype’", Univers, Calibri, "‘Gill Sans’", "‘Gill Sans MT’", "‘Myriad Pro’", Myriad, "‘DejaVu Sans Condensed’", "‘Liberation Sans’", "‘Nimbus Sans L’", Tahoma, Geneva, "‘Helvetica Neue’", Helvetica, Arial, sans-serif;
}

.title-section .title-container-end {
    text-align: left;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 31px;
}

.title-section .title-container-end .title-button {
    background: #0000;
    border: 2px solid #0000;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    margin-left: 0;
    padding: 0;
    width: 24px;
}






